<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>KarlWeb | Registration Page</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.7 -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}">
        <!-- Ionicons -->
        <link rel="stylesheet" href="{% static 'css/Ionicons/css/ionicons.min.css' %}">
        <!-- Theme style -->
        <link rel="stylesheet" href="{% static 'css/AdminLTE.min.css' %}">
        <!-- iCheck -->
        <link rel="stylesheet" href="{% static 'css/square/green.css' %}">

        <link rel="stylesheet" href="{% static 'css/fonts-googleapis.css' %}">

        <style type="text/css">
            html, body{
                height: 90%;
            }
            .register-btn{
                position: relative;
                right: -100px;
            }
            .register-agree-check{
                position: relative;
                left: 15px;
            }
            .register-page {
                background-image: url("{% static 'img/backgrounds/nature/n_01.jpg' %}");
                background-repeat: no-repeat;
                background-position: center center;
                background-attachment: fixed;
                background-size: cover;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
            }
            .register-box {
                opacity: 0.8;
            }
        </style>
    </head>
    <body class="hold-transition register-page">
        <div class="register-box">
            <div class="register-logo">
                <a href=""><b>Innovation</b></a>
            </div>

            <div class="register-box-body">
                <p class="register-box-msg">Register a new membership</p>
                <div class="register-box-errmsg" style="color: red">{{ ErrMes }}</div>

                <form action="/register/" method="POST" enctype="multipart/form-data">

                    {% csrf_token %}
                    <div class="form-group has-feedback">
                        <input type="text" name="userid" class="form-control" placeholder="User ID">
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>

                    <div class="form-group has-feedback">
                        <input type="email" name="email" class="form-control" placeholder="Email">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>

                    <div class="form-group has-feedback">
                        <input type="password" name="password" class="form-control" placeholder="Password">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>

                    <div class="form-group has-feedback">
                        <input type="password" name="retype_password" class="form-control" placeholder="Retype password">
                        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                    </div>

                    <div class="row">
                        <div class="col-xs-8">
                            <div class="checkbox icheck register-agree-check">
                                <label>
                                    <input type="checkbox"> I agree to the <a href="#">terms</a>
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-xs-4 register-btn">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <div class="social-auth-links text-center">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign up using
                    Facebook</a>
                    <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign up using
                    Google+</a>
                </div>

                <a href="{% url 'index' %}" class="text-center">I already have a membership</a>
            </div>
            <!-- /.form-box -->
        </div>
        <!-- /.register-box -->

        <!-- jQuery 3 -->
        <script src="{% static 'js/jQuery-3.2.1.min.js' %}"></script>
        <!-- Bootstrap 3.3.7 -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- iCheck -->
        <script src="{% static 'js/icheck.min.js' %}"></script>
        <script>
          $(function () {
            $('input').iCheck({
              checkboxClass: 'icheckbox_square-green',
              radioClass: 'iradio_square-green',
              increaseArea: '20%' /* optional */
            });
          });
        </script>
    </body>
</html>
